.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100vw;
  background-image: linear-gradient(
    to right,
    #dbbcc4,
    #f3dfd8,
    #d8bfd0,
    #b7b1d5
  );
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  padding: 30px;
  padding-top:80px;
}
.home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: cener;
  padding: 30px;
  text-align: center;
  background-color: #f8fafc;
  border-radius: 15px;
}

.home-img {
  width: 452px;
  height:300px;
}

.home-heading {
  color: #0ea5e9;
  font-family: 'Roboto';
  font-weight: bold;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
}
.home-description {
  font-family: 'Roboto';
  margin-top: 36px;
  font-size: 14px;
  line-height: 28px;
  color: #475569;
  margin-bottom: 0px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .home-description {
    font-size: 18px;
    margin-top: 0px;
    text-align: left;
  }
}

.start-quiz-button {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Roboto';
  color: #ffffff;
  border: none;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 6px;
  background-color: #0ea5e9;
  margin-top: 20px;
  cursor: pointer;
  outline: none;
}

@media screen and (min-width: 768px) {
  .start-quiz-button {
    width: 150px;
    font-size: 16px;
  }
}
